<form [formGroup]="DepartmentForm" (ngSubmit)="addOrEditDepartment()">
    <div class="form-outline mb-4">
        <label class="form-label" for="DepartmentName">Department Name</label>
      <input [class.is-invalid]="DepartmentName?.invalid && DepartmentName?.touched" type="text" id="DepartmentName" [(ngModel)]="department.departmentName" formControlName="DepartmentName" class="form-control form-control-lg" />
      <div *ngIf="DepartmentName?.invalid && DepartmentName?.touched">
        <span *ngIf="DepartmentName?.errors?.['required']" class="text-danger">Department Name cannot be Empty</span>
        <span *ngIf="DepartmentName?.errors?.['minlength']" class="text-danger">Department Name must be greater than 6 characters</span>
      </div>              
    </div>
    <div class="footer">
        <button [class.diabled]="DepartmentName?.invalid" type="submit" data-bs-dismiss="modal" class="btn btn-primary btn-blue">Save</button> 
    </div>               
  </form>
