.tab-container{    
    background-color: #5793ce;
    display: flex;
    align-items: center;
    width: 600px;
    margin: 20px auto;
    justify-content: center;
    border-radius: 30px;
}
.nav-item{
    color:#fff;
    list-style: none;
    height:60px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link{
    font-size:20px;
    font-weight:600;
}
.line{
    list-style: none;
    width: 3px;
    height: 60px;
    background-color: #fff;
}
.banner{
    background-color: #5793ce;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.banner h3{
color:#fff;
}

.banner a{
color:#fff;
cursor:pointer;
}
.banner a i{
    padding-right:8px;
    }
