<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="/assets/Images/register.jfif"
            class="img-fluid register-img" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form [formGroup]="UserRegistrationForm" (ngSubmit)="registerUser()">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="Email">Email address</label>
              <input [class.is-invalid]="Email?.invalid && Email?.touched" type="email" id="Email" [(ngModel)]="user.email" formControlName="Email" class="form-control form-control-lg" />
              <div *ngIf="Email?.invalid && Email?.touched">
                <span *ngIf="Email?.errors?.['required']" class="text-danger">Email Cannot be empty</span>
                <span *ngIf="Email?.errors?.['email']" class="text-danger">Invalid Email Format</span>
              </div>              
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="Name">Your Name</label>
              <input [class.is-invalid]="Name?.invalid && Name?.touched" type="email" id="Name" [(ngModel)]="user.name" formControlName="Name" class="form-control form-control-lg" />
              <div *ngIf="Name?.invalid && Name?.touched">
                <span *ngIf="Name?.errors?.['required']" class="text-danger">Name Cannot be empty</span>
              </div> 
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="Password">Password</label>
              <input [class.is-invalid]="Password?.invalid && Password?.touched"  type="password" id="Password" [(ngModel)]="user.password" formControlName="Password" class="form-control form-control-lg" />
              <div *ngIf="Password?.invalid && Password?.touched">
                <span *ngIf="Password?.errors?.['required']" class="text-danger">Password Cannot be empty</span>
                <span *ngIf="Password?.errors?.['minlength']" class="text-danger">Password must contain atleast four characters</span>
              </div>
            </div>
  
            <div class="mb-4">
              <span *ngIf="serverError" class="text-danger">Due To an error registration Failed</span>
            </div>
            
            <div class="mb-4">
                <!-- Submit button -->
  
            <button [class.disabled]="Email?.invalid || Password?.invalid || Name?.invalid" type="submit" class="btn btn-primary btn-lg btn-block w-100" style="background-color: #3b5998" href="#!"
              role="button">Register
            </button>
            </div>              
          </form>
        </div>
      </div>
    </div>
  </section>
